.code-link::before {
  content: "</>";
}
.md-header[data-md-state="shadow"] {
  transition: unset;
}
.md-header {
  transition: unset;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
button[data-md-color-primary="larq"] {
  background-color: #0a1d3c;
}
[data-md-color-primary="larq"] .md-typeset a {
  color: #153c7a;
}
[data-md-color-primary="larq"] .md-header,
[data-md-color-primary="larq"] .md-hero {
  background-color: #0a1d3c;
}
[data-md-color-primary="larq"] .md-nav__link--active,
[data-md-color-primary="larq"] .md-nav__link:active {
  color: #153c7a;
}
[data-md-color-primary="larq"] .md-nav__item--nested > .md-nav__link {
  color: inherit;
}
button[data-md-color-accent="larq"] {
  background-color: #7dfb9a;
}
[data-md-color-accent="larq"] .md-typeset a:active,
[data-md-color-accent="larq"] .md-typeset a:hover {
  color: #059e29;
}
[data-md-color-accent="larq"]
  .md-typeset
  .codehilite
  pre::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="larq"]
  .md-typeset
  pre
  code::-webkit-scrollbar-thumb:hover {
  background-color: #059e29;
}
[data-md-color-accent="larq"] .md-nav__link:focus,
[data-md-color-accent="larq"] .md-nav__link:hover,
[data-md-color-accent="larq"]
  .md-typeset
  .footnote
  li:hover
  .footnote-backref:hover,
[data-md-color-accent="larq"] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent="larq"] .md-typeset .md-clipboard:active:before,
[data-md-color-accent="larq"] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent="larq"] .md-typeset [id] .headerlink:focus,
[data-md-color-accent="larq"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="larq"] .md-typeset [id]:target .headerlink {
  color: #059e29;
}
[data-md-color-accent="larq"]
  .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #059e29;
}
[data-md-color-accent="larq"]
  .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #059e29;
}
[data-md-color-accent="larq"] .md-source-file:hover:before {
  background-color: #059e29;
}
@media only screen and (max-width: 59.9375em) {
  [data-md-color-primary="larq"] .md-nav__source {
    background-color: #7dfb9a;
    color: #0a1d3c;
  }
}
@media only screen and (max-width: 76.1875em) {
  html [data-md-color-primary="larq"] .md-nav--primary .md-nav__title--site {
    background-color: #0a1d3c;
  }
}
@media only screen and (min-width: 76.25em) {
  [data-md-color-primary="larq"] .md-tabs {
    background-color: #0a1d3c;
  }
}
.md-typeset table:not([class]) th {
  background-color: #0a1d3c;
}
.md-typeset table:not([class]) tr:hover {
  background-color: rgba(10, 29, 60, 0.04);
}
.md-footer-meta {
  background-color: #08152d;
}
.md-footer-nav {
  background-color: #0a1d3c;
}
.md-nav__button img {
  width: 200%;
}

html .md-nav--primary .md-nav__title--site .md-nav__button {
  top: 1.6rem;
}
