.code-link::before {
  content: "</>";
}
.md-header[data-md-state="shadow"] {
  transition: unset;
}
.md-header {
  transition: unset;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
